// **************************************
// index.scss
// Main Sass file used to import partials
// **************************************

@import 'components/index',
		'utilities/index',
		'base/index';

// NOTE: import utilities and base partials here:


// import components partials
@import 'components';


//=========================================
// Styles
//=========================================

//Mixin
@mixin mobile-styles {
	display: flex;
	flex-direction: column;
	@content;
}
@mixin btn-grid-styles {
	color: white;
	@content;
}
@mixin grid-styles {
	
}

.container {
	margin: 0 30px;
}

// Navigation

.nav {
	@include mobile-styles;
	list-style: none;
	padding: 0px;
	@media (min-width: 600px) {
		 flex-direction:row;
	}
	&__item a {
		color: black;
		text-decoration: none;
		&:hover {
			background-color:#79CDBA;
			color: white;
		}
	}
	&-item {
		margin: 10px 0; 
	}
}

ul li {
	background: grey;
	margin: 10px 0;
	@media (min-width: 600px) {
		margin: 10px 25px;
	}
}
.form {
	@include mobile-styles;
	&__input {
		border-bottom: solid;
		border-color: #79CDBA;
		padding: 10px 0;
		margin: 10px;
		border-top: none;
		border-left: none;
		border-right: none;
		border-radius: 2px;
	}
}
.theme__colors {
	margin: 10px auto;
	padding: 10px 0;
	text-transform: uppercase;
	border: none;
	width: 99%;
	border-radius: 5px;
}


.link {
    color: #61D7ED;
    text-decoration: none;
}
.headline--primary {
  color: #79CDBA;
  padding: 0 25px;
}
.blockquote {
  border-left: solid #79CDBA;
  padding-left: 10px;
  border-radius: 3px;
}

.img--frame {
    border: solid grey 1px;
    padding: 10px;
}


.grid__col--12.theme__colors {
	@include btn-grid-styles;
	background-color: $grid-col-12;
}
.grid__col--6.theme__colors {
	@include btn-grid-styles;
	background-color: $grid-col-6;
}
.grid__col--4.theme__colors {
	@include btn-grid-styles;
	background-color: $grid-col-4;
}
.grid__col--3.theme__colors {
	@include btn-grid-styles;
	background-color: $grid-col-3;
}
.grid__col--5.theme__colors {
	@include btn-grid-styles;
	background-color: $grid-col-5;
}
.grid__col--7.theme__colors {
	@include btn-grid-styles;
	background-color: $grid-col-7;
}
.grid__col--8.theme__colors {
	@include btn-grid-styles;
	background-color: $grid-col-8;
}

.grid {
	&__row {
	@include mobile-styles;
	display: flex;
	flex-direction: column;
		@media (min-width: 600px) {
			flex-direction: row;
			justify-content: center;
		}	
	}
	&__col {
		&--12 {
			@media (min-width: 600px) {
				display: flex;
				flex-direction: row;
			}
		}
		&--3 {
    		margin: 0 auto;
		}
		&--4 {
			flex: 1 0 0;
		}
		&--6 {
			margin: 0 auto;
		}
		&--8 {
			flex: 2 0 0;
		}
		&--9 {
    		text-align: center;
		}
		&--4 .img--avatar {
			width: 50%;
			margin: 0 auto;
		}
	}
}
.btn {
	&--default,
	&--success,
	&--error,
	&--warning,
	&--info {
		color: white;
		@media (min-width: 600px) {
			margin: 0 7px;
			padding: 5px 30px;
		}
	}
}


$button-colors: (
	'default': #61D7ED,
	'success': #61ED80,
	'error': #ED616D,
	'warning': #ED7461,
	'info': #8161ED,
);

.btn {
	@each $key, $color in $button-colors {
		&--#{$key} {
			background-color: $color;
		}
	}
}


.form__label--hidden {
    display: none;
}

#forms {
	margin: 18px 0;
}


// grid__row align items center throws off other elements

// #formd, ul li.







