// create variables for fonts, breakpoints, and colors.


//Buttons
$warning-button-color: #ED7461;
$info-button-color: #8161ED;
$error-button-color: #ED616D;
$success-button-color: #61ED80;
$default-button-color: #61D7ED;

$warning-button-light: lighten($warning-button-color, 15%);
$info-button-light: lighten($info-button-color, 15%);
$error-button-light: lighten($error-button-color, 15%);
$success-button-light: lighten($success-button-color, 15%);
$default-button-light: lighten($default-button-color, 15%);

//Grid 
$grid-col-12: #79CDBA;
$grid-col-6: #398DA7;
$grid-col-4: #6DCFE9;
$grid-col-3: #E89CF7;
$grid-col-5: #61ED80;
$grid-col-7: #DD929B;
$grid-col-8: #E07861;

//Navigation
$nav-color: #79CDBA;
//$nav-color-light: lighten($nav-color, 15%);

//Buttons
$button-colors: (
	'default': $default-button-light,
	'success': $success-button-light,
	'error': $error-button-light,
	'warning': $warning-button-light,
	'info': $info-button-light,
);
// $btn-colors-light: lighten($button-colors, 15%);



//Grid
$grid-colors: (
  'col--12': #79CDBA,
  'col--6': #398DA7,
  'col--4': #6DCFE9,
  'col--3': #E89CF7,
  'col--5': #61ED80,
  'col--7': #DD929B,
  'col--8': #E07861,
);

//Media Queries
$tablet: 769px;








