//Buttons placeholder

.theme__colors {
	margin: 6px auto;
	padding: 10px 0;
	border: none;
	width: 99%;
	border-radius: 5px;
}

.btn {
	&--default,
	&--success,
	&--error,
	&--warning,
	&--info {
		text-transform: uppercase;
		color: white;
		@include mq {
			margin: 0 7px;
			padding: 5px 30px;
		}
	}
	&--default:hover {
		background-color: $default-button-light;
	}
	&--success:hover {
		background-color: $success-button-light;
	}
	&--error:hover {
		background-color: $error-button-light;
	}
	&--warning:hover {
		background-color: $warning-button-light;
	}
	&--info:hover {
		background-color: $info-button-light;
	}
}

.btn {
	@each $key, $color in $button-colors {
		&--#{$key} {
			background-color: $color;
		}
	}
}



