//Typography

.link {
    color: #61D7ED;
    text-decoration: none;
}
.headline--primary {
  color: #79CDBA;
  padding: 0 25px;
}
.blockquote {
  border-left: solid #79CDBA;
  padding-left: 10px;
  border-radius: 3px;
}




