// in file apply styles to universal selector, ul elements, p elements, //	and a elements only

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Prompt', sans-serif;
}

$warning-button-color: #ED7461;
$info-button-color: #8161ED;
$error-button-color: #ED616D;
$success-button-color: #61ED80;
$default-button-color: #61D7ED;

$grid-col-12: #79CDBA;
$grid-col-6: #398DA7;
$grid-col-4: #6DCFE9;
$grid-col-3: #E89CF7;
$grid-col-5: #E89CF7;
$grid-col-7: #DD929B;
$grid-col-8: #E07861;


@mixin mobile-styles {
	display: flex;
	flex-direction: column;
	@content;
}
@mixin btn-grid-styles {
	color: white;
	@content;
}
@mixin grid-styles {
	
}


.nav {
	@include mobile-styles;
	list-style: none;
}
.nav-item {
	margin: 10px 0; 
}
.grid__row {
	@include mobile-styles;
//	align-items: center;
}
ul li {
	background: grey;
	margin: 10px 0;
}
.form {
	@include mobile-styles;
}
.grid__col--12 {
	display: flex;
	flex-direction: column;
}
.theme__colors {
	margin: 10px auto;
	padding: 10px 0;
	text-transform: uppercase;
	border: none;
	width: 99%;
	border-radius: 5px;
}
.btn--default.theme__colors {
	@include btn-grid-styles;
	background: $default-button-color;
}
.btn--success.theme__colors {
	@include btn-grid-styles;
	background: $success-button-color;
}
.btn--error.theme__colors {
	@include btn-grid-styles;
	background: $error-button-color;
}
.btn--warning.theme__colors {
	@include btn-grid-styles;
	background: $warning-button-color;
}
.btn--info.theme__colors {
	@include btn-grid-styles;
	background: $info-button-color;
}
.grid__col--12.theme__colors {
	@include btn-grid-styles;
	background-color: $grid-col-12;
}
.grid__col--6.theme__colors {
	@include btn-grid-styles;
	background-color: $grid-col-6;
}
.grid__col--4.theme__colors {
	@include btn-grid-styles;
	background-color: $grid-col-4;
}
.grid__col--3.theme__colors {
	@include btn-grid-styles;
	background-color: $grid-col-3;
}
.grid__col--5.theme__colors {
	@include btn-grid-styles;
	background-color: $grid-col-5;
}
.grid__col--7.theme__colors {
	@include btn-grid-styles;
	background-color: $grid-col-7;
}
.grid__col--8.theme__colors {
	@include btn-grid-styles;
	background-color: $grid-col-8;
}

.link {
    color: #61D7ED;
    text-decoration: none;
}
.headline--primary {
  color: #79CDBA;
  padding: 0 25px;
}
.blockquote {
  border-left: solid #79CDBA;
  padding-left: 10px;
  border-radius: 3px;
}
.form__input {
	border-bottom: solid;
	border-color: #79CDBA;
	padding: 10px 0;
}
